body {
    display: flex;
}

body nav {
    width: min(150px, 90%);
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    border-right: #1a202c 1px solid;
    margin-right: 20px;
}

nav a:visited {
    color: #1a202c;
    text-decoration: none;
    padding: 10px;
    border-bottom: #1a202c 1px solid;
}

a.current {
    color: #f0f0f0;
    font-weight: bolder;
}

thead > tr {
    background-color: #918e8e;
    border-bottom: #2d3748 2px solid;
}

tbody tr td {
    border-bottom: #696d73 2px solid;
}

table {
    border-spacing: 0 !important;
}

th, td {
    text-align: left;
    padding: 4px 6px;
}

th:first-child, td:first-child {
    padding-right: 10px;
}
